html {
  text-align: center;
  font-family: monospace;
}
body {
  display: block;
  margin: 8px;
}
.calculator {
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: #878474;
}

.container {
  background-color: #000000;
  border: 10px solid #2f2f2f;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(100px, auto) repeat(5, 80px);
  gap: 2px;
}

.display {
  grid-column: 1 / -1;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
  font-size: 5.5em;
  font-weight: initial;
  text-shadow: 1.3px 1.3px #ffffff;
  color: #ffffff;
  margin: 5px;
}

button {
  margin: 1px;
  border: none;
  font-weight: initial;
  font-size: 2em;
  border-radius: 15%;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
}
.clear {
  background-color: #a5a5a5;
  color: #0a0a0a;
}

.sign {
  background-color: #a5a5a5;
  color: #0a0a0a;
}
.sign:active,
.clear:active,
.percent:active {
  background-color: #d2cfcf;
}
.percent {
  background-color: #a5a5a5;
  color: #0a0a0a;
}
.operator {
  background-color: #ff9f0a;
}
.operator:active,
.equals:active {
  background-color: #ffcb7b;
}

.operand {
  background-color: #333333;
}
.operand:active,
.decimal:active {
  background-color: #757373;
}

#zero {
  grid-column: span 2;
}
.decimal {
  background-color: #333333;
}
.equals {
  background-color: #ff9f0a;
}
